<footer class="footer row" role="contentinfo">
	{{ render(controller('Mothership:Site::Controller:Module:Menu#footer')) }}

	<section class="col-3">
		{# 
		 - Social Links
		 - 
		 - These links are rendered based on the networks given in 
		 - config/social.yml. Edit this file to change the social networks 
		 - settings
		 #}
		<h4>Social</h4>
		{{ render(controller('Message:Mothership:CMS::Controller:Module:Social#links')) }} 
	</section>
    {# Uncomment this if Mailing module is installed (when it's released) #}
    {#<section class="col-3 newsletter form-inline">#}
        {#<h3>Subscribe to our newsletter</h3>#}
        {#{{#}
            {#render(controller('Mothership:Site::Controller:Module:Subscribe#subscribe'))#}
        {#}}#}
    {#</section>#}
    <section class="copy row">
	<div class="col-12">
		<small>
			&copy; {{ 'now'|date('Y') }} {{ (app.cfg.app.name) }}. Website by <a href="http://www.mothership.ec/">Mothership</a>
		</small>
	</div>
</section>
</footer>
