<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height, shrink-to-fit=no"/>
<meta name="description" content="{{ page.metaDescription|default(page.title ~ ' | ' ~ app.cfg.app.name) }}">
<title>{% block title %}{{ page.metaTitle|default(page.title ~ ' | ' ~ app.cfg.app.name) }}{% endblock %}</title>
<link rel="icon" type="image/png" href="/cogules/Mothership:Site/images/favicon.png">
{{ render(controller('Message:Mothership:CMS::Controller:Module:Analytics#analytics')) }}