/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Skeleton Basic CSS                                   */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*    Mothership
/*    http://mothership.ec
/*
/*
/* ======================================================= *//*
/*    Table of Contents
/* ------------------------------------------------------- */
/*
/*
/*    #Reset and General styles
/*    #Text and links
/*    #Image and objects elements
/*    #Form
/*      - Input styles
        - Inline form
        - Button
        - Button sizes
        - Button styles
/*    #Code snippets
/*    #Tables
/*    #Lists
/*    #Feedback
/*    #Loading spinner
/*
/*
/* ======================================================= */


/* Reset and General styles
---------------------------------------------------------- */


* {
    /*
     * All elements set as 'border-box'. Overwrite this on a
     * class by class or element basis.
     */
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
    outline: 0;
    background: transparent;
}

body {
    line-height: 1;

    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    font-size: 1.0em;

    -webkit-text-size-adjust: 1.0em;
        -ms-text-size-adjust: 1.0em;
}

html,
button,
input,
select,
textarea {
    /*
     * Addresses font-family inconsistency between 'textarea' and other form elements.
     */
    font-family: sans-serif;
}


/* Text and links
 *
 * All main text elements; Paragraph, headers, hyperlinks.
 * Site wide styling should be covered here for all type elements
 *
---------------------------------------------------------- */


p {
    font-weight: normal;
    line-height: 1.5;

    margin: 0 0 1em;
}

b,
strong {
    font-weight: bold;
}

i,
cite,
em,
var,
address,
dfn {
    font-style: italic;
}

/*
 * Links
 */

a,
a:visited {
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;
    text-decoration: underline;

    color: #333;
    outline: 0;
    background: transparent;
}

a:hover,
a:focus {
    color: #000;
}

p a,
p a:visited {
    line-height: inherit;
}


/*
 * Main header text and subheadline text styles
 */


h1 {
    font-size: 2em;

    margin: .67em 0;
}

h2 {
    font-size: 1.5em;

    margin: .83em 0;
}

h3 {
    font-size: 1.17em;

    margin: 1em 0;
}

h4 {
    font-size: 1em;

    margin: 1.33em 0;
}

h5 {
    font-size: .83em;

    margin: 1.67em 0;
}

h6 {
    font-size: .75em;

    margin: 2.33em 0;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small {
    font-size: 65%;
    font-weight: normal;
    display: block;
    margin: .5em 0;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #EEE;
}

/*
 * Quotes and Blockquotes
 */


q {
    quotes: none;
}

blockquote {
    margin: 1em 0;
    padding: 10px 20px 0;

    border-left: 3px solid #333;
}

blockquote,
blockquote p {
    font-size: 1.15em;
    font-style: italic;
    line-height: 1.5;

    color: #777;
}

q:before,
blockquote p:before {
    content: open-quote;
    content: '“';
}

q:after,
blockquote p:after {
    content: close-quote;
    content: '”';
}

blockquote footer {
    font-size: .875em;

    margin: 10px 0 0;

    color: #999;
}

blockquote cite {
    font-size: .75em;

    display: block;

    color: #555;
}

blockquote cite:before {
    content: '\2014 \0020';
}

blockquote cite a,
blockquote cite a:visited,
blockquote cite a:visited {
    color: #555;
}

hr {
    display: block;
    float: left;

    width: 100%;
    height: 1px;
    margin: 1em 0;
    padding: 0;

    border: 0;
    border-top: 1px solid #EEE;
}


/*
 * Other text elements
 */


ins {
    text-decoration: none;

    color: #000;
    background-color: #ff9;
}

mark {
    font-weight: bold;
    font-style: italic;

    color: #000;
    background-color: #ff9;
}

u {
    text-decoration: underline;
}

s,
small {
    font-size: 75%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sup {
    top: -.5em;
}

sub {
    bottom: -.25em;
}

del {
    text-decoration:  line-through;
}


/* Image and objects elements
 *
 * Covers all media objects. Note videos in Mothership are
 * placed in an iFrame via Vimeo. Current CSS will allow fluid
 * resizing, refrain from changing this.
 *
 * All images are responsive by default. max-width: 100%; and
 * height: auto; effects the image to scale perfectly to the
 * parent. Also all elements are centred by default.
 *
---------------------------------------------------------- */


img {
    display: block;
    clear: both;

    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;

    -ms-interpolation-mode: bicubic;
    border: 0;
}

svg:not(:root) {
    /*
     * Corrects overflow displayed oddly in IE9
     */
    overflow: hidden;
}

figure {
    width: 100%;
}

figure caption {
    display: block;

    width: 100%;

    text-align: center;
}

object,
iframe,
embed,
canvas,
video,
audio {
    display: block;

    max-width: 100%;
    margin: 0 auto 20px;
}

audio:not([controls]) {
    /*
     * Prevents modern browsers from displaying 'audio' without controls
     * Remove excess height in iOS5 devices
     */
    display: none;

    height: 0;
}

[hidden] {
    display: none;
}


/* Form
 *
 * Main form structural elements and a general base for all
 * form elements. Further down are input and button styles.
 *
---------------------------------------------------------- */


form {
    display: inline-block;
    width: 100%;
}

fieldset {
    margin: 0 2px;
    padding: .35em .625em .75em;

    border: 1px solid #c0c0c0;
}

legend {
    padding: 0;

    white-space: normal;

    border: 0;

    *margin-left: -7px;
}

label {
    font-weight: bold;

    display: inline-block;

    max-width: 100%;
    margin-bottom: 10px;
}

button,
input,
select,
textarea {
    font-size: 100%;

    margin: 0;

    vertical-align: baseline;

    *vertical-align: middle;
}

button,
input {
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;

    border: 0;
}

.field.inline {
    position: relative;
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Input styles
 *
 * All styles for each input type, select and textarea. Will
 * cover hover states, focus and active states.
 *
---------------------------------------------------------- */


input[type='text'],
input[type='search'],
input[type='password'],
input[type='email'],
textarea {
    display: block;

    width: 100%;
    max-width: 100%;
    margin: 0 0 20px;
    padding: 6px 4px;

    -webkit-transition: border-color .2s, box-shadow .2s;
         -o-transition: border-color .2s, box-shadow .2s;
            transition: border-color .2s, box-shadow .2s;

    color: #777;
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    outline: none;
    outline: none;
}

input[type='search'] {
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'],
input[type='image'] {
    display: inline-block;
    margin-right: 10px;
}

input:hover,
textarea:hover {
    border-color: #333;
}

input[type]:focus,
textarea:focus {
    border-color: #528cb6;
    outline: none;
    -webkit-box-shadow: 0 1px 1px 2px rgba(000,000,000,.05);
            box-shadow: 0 1px 1px 2px rgba(000,000,000,.05);
}


/*
 * Textarea
 */


textarea {
    overflow: auto;
    min-height: 175px;

    vertical-align: top;
}


/*
 * Select dropdown
 */


select {
    display: block;
    clear: both;
    margin: 0 0 31px;
}

select[multiple],
select[size] {
    height: auto;
}


/* Inline form
 *
 * Styles to create inline form elements
 *
---------------------------------------------------------- */


.form-inline label,
.form-inline button,
.form-inline .button
.form-inline input[type='text'],
.form-inline input[type='search'],
.form-inline input[type='password'],
.form-inline input[type='email'],
.form-inline select,
.form-inline .field {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-bottom: 0;
}


.form-inline label,
.form-inline input[type='text'],
.form-inline input[type='search'],
.form-inline input[type='password'],
.form-inline input[type='email'],
.form-inline select {
    margin-right: 10px;
}

/* Button
 *
 * All styles relevant to different sizing types for form
 * buttons or elements styled as a button.
 *
---------------------------------------------------------- */


button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
    font-size: .875em;
    font-weight: 400;
    line-height: 1.42857143;

    display: inline-block;

    margin-bottom: 20px;
    padding: 5px 15px;

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    color: #333;
    border: 1px solid transparent;
    border-color: #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;

    text-decoration: none;
    *overflow: visible;
}

button:hover,
.button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
    color: #333;
    border-color: #adadad;
    background-color: #e6e6e6;
}

button:focus,
button:active,
.button:focus,
.button:active,
input[type='button']:focus,
input[type='button']:active,
input[type='reset']:focus,
input[type='reset']:active,
input[type='submit']:focus,
input[type='submit']:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(000,000,000,.125);
            box-shadow: inset 0 3px 5px rgba(000,000,000,.125);
}

button[disabled],
input[disabled] {
    cursor: default;
}


/* Button sizes
 *
 * Various button sizes which can be used when relevant. Add
 * .button-large, .button-small, or .button-xsmall for
 * additional sizes. Create block level buttons—those that
 * span the full width of a parent— by adding .button-block.
 *
---------------------------------------------------------- */


.button-large {
    font-size: 1.125em;
    line-height: 1.33;

    padding: 10px 19px;

    border-radius: 6px;
}

.button-small {
    font-size: .75em;
    line-height: 1.5;

    padding: 5px 10px;

    border-radius: 3px;
}

.button-xsmall {
    font-size: .75em;
    line-height: 1.5;

    padding: 1px 5px;

    border-radius: 3px;
}

.button-block {
    display: block;

    width: 100%;
}


/* Button styles
 *
 * Mutliple button styles to be used. These will not define
 * the size, shape or placement but more the asethetic look
 * of the buttons.
 *
 * Under no circumstance should a button style reference its
 * own colour. Keep all classes relevant to the use case of
 * the button.
 *
---------------------------------------------------------- */


.submit,
.complete,
.accept,
.continue {
    color: #FFF;
    border-color: #4CAE4C;
    background-color: #5CB85C;
}

.read-more,
.load,
.back,
.edit {
    color: #FFF;
    border-color: #285E8E;
    background-color: #3071A9;
}

.cancel,
.danger {
    color: #FFF;
    border-color: #D43F3A;
    background-color: #D9534F;
}


/*
 * Hover, Focus & Active effects
 */


.submit:hover,
.submit:focus,
.submit:active,
.complete:hover,
.complete:focus,
.complete:active,
.accept:hover,
.accept:focus,
.accept:active,
.continue:hover,
.continue:focus,
.continue:active {
    color: #FFF;
    border-color: #398439;
    background-color: #449D44;
}

.read-more:hover,
.read-more:focus,
.read-more:active,
.load:hover,
.load:focus,
.load:active,
.back:hover,
.back:focus,
.back:active,
.edit:hover,
.edit:focus,
.edit:active {
    color: #FFF;
    border-color: #285E8E;
    background-color: #3071A9;
}

.cancel:hover,
.cancel:focus,
.cancel:active,
.danger:hover,
.danger:focus,
.danger:active {
    color: #FFF;
    border-color: #AC2925;
    background-color: #C9302C;
}


/* Code snippets
---------------------------------------------------------- */


pre,
code,
kbd,
samp {
    /*
     * Corrects font family set oddly in IE6, S4/5, Chrome
     * en.wikipedia.org/wiki/User:Davidgothberg/Test59
     */
    font-family: monospace, serif;
    font-size: 1em;

    _font-family: 'courier new', monospace;
}

pre {
    /*
     * Improves readability of pre-formatted text in all browsers
     */
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}


/* Table styles
---------------------------------------------------------- */


table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    padding: 0;
}

table th {
    font-weight: bold;

    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}

table td {
    border-bottom: 1px solid #CCC;
    padding: 20px 0;
}


/* Lists
---------------------------------------------------------- */


dl,
menu,
ol,
ul {
    display: block;
}

ul,
ol {
    padding: 0 0 0 30px;
}

ul {
    list-style: disc outside;
}

ul.square {
    list-style: square outside;
}

ul.circle {
    list-style: circle outside;
}

ol {
    list-style: decimal;
}

ul ul,
ul ol,
ol ol,
ol ul {
    font-size: 90%;

    margin: 4px 0 5px 30px;
}

ul ul li,
ul ol li,
ol ol li,
ol ul li {
    margin-bottom: 5px;

    list-style: circle outside;
}

li {
    margin-bottom: 10px;
}

dl {
    margin-top: 0;
    margin-bottom: 20px;
    float: left;
    clear: both;
    width: 100%;
}

dt,
dd {
    float: left;
    line-height: 1.5;
    width: 100%;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 0;
    margin-bottom: 10px;
}

nav ul,
nav ol {
    padding: 0;

    list-style: none;
    list-style-image: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


/* Feedback
 *
 * Styles for main site feedback, this will appear under the site header
 * and show users a system responce
 *
---------------------------------------------------------- */


.feedback {
    float: left;

    width: 100%;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border-radius: 5px;

    background: #6788b5;
}

.feedback p {
    width: 100%;
    max-width: 100%;
    margin: 0;

    text-align: center;

    color: #fff;
}

.error {
    background: #a92039;
}

.warning {
    background: #e69e21;
}

.success {
    background: #207a34;
}

.notice {
    background: #6788b5;
}

.contact-form .required label:after {
    content: '*';
    font-size: 15px;
    vertical-align: middle;
    margin-left: 5px;
    top: 0px;
    position: relative;
    color: #333;
}

.contact-form form:after {
    content: '* Required field';
    font-size: 15px;
    vertical-align: middle;
    margin: 10px 0;
    top: 0px;
    position: relative;
    color: #999;
    display: block;
    clear: both;
}


/* Loading spinner
 *
 * Generic CSS3 loading spinner. This is used in conjunction
 * with add to basket JS, remove from basket JS and the
 * product gallery.
 *
---------------------------------------------------------- */


.spinner {
    width: 70px;
    text-align: center;
    display: inline-block;
    height: 32px;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    margin-right: 5px;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}


/* Animations
---------------------------------------------------------- */


/* Pulse */


@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.5, 1.5);
    }
    100% {
        -webkit-transform: scale(1, 1);
    };
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    };
}


/* Rotation */


@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
