/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership Site                                      */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Mothership
/*    http://mothership.ec
/*
/*
/*
/* ======================================================= */


@media screen and (max-width: 768px) {

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	blockquote,
	img,
	svg,
	object,
	iframe,
	embed,
	canvas,
	video,
	audio,
	form,
	input,
	select,
	textarea,
	ul,
	ol,
	dl {
		width: 100%;
	}

	/*
	 * Header
	 */

	.logo {
		margin: 10px auto;
		text-align: center;
	}

	/*
	 * Search
	 */

	.search form {
		float: left;
	}

	.search label {
		display: none;
	}

	/*
	 * Navigation
	 */

	.nav-open {
		display: block;
		height: 32px;
		width: 32px;
		display: inline-block;
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		top: 7px;
		left: 0;
	}

	.nav-close {
		display: block;
		height: 32px;
		width: 32px;
		display: inline-block;
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		top: 17px;
		right: 5px;
	}

	.shop-access {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 300px;
		background: #EEE;
		padding: 19px 15px 18px;
		border-bottom: 1px solid #333;
		z-index: 1000;
	}

	.nav-offcanvas {
		margin-left: -300px;
	}

	.nav-open i {
		font-size: 0.75em;
	}

	.navigation {
		position: fixed;
		top: 53px;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 300px;
		padding-top: 20px;
		background: #b4b0a6;
		z-index: 9999;
	}

	.navigation ol {
		padding: 0 10px;
		right: auto;
	}

	.navigation li {
		float: left;
		width: 100%;
		padding: 0;
	}

	.navigation a,
	.navigation a:hover {
		border: none;
	}

	.navigation .current > a,
	.navigation a.current {
	    color: #be8e2d;
	    position: relative;
	}

	.navigation a.current:after {
	    font-family: "FontAwesome";
	    font-size: 2em;
	    content: '';
	    color: #121212;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -20px;

	}

	.navigation a.current:hover {
	    border-bottom: none;
	}


	.navigation li,
	.subnav-wrapper li {
		padding: 0 0 20px;
	}

	/* Sub navigation */

	.subnav-wrapper,
	.sub-navigation {
	    position: absolute;
	    z-index: 1000;
	    left: 0;
	    right: 0;

	    display: none;
	    float: left;

	    width: 100%;
    
	    padding: 10px 0;

	    background: #b4b0a6;
	}

	.sub-navigation ul {
	    margin: 0;
	}

	.subnav-wrapper li {
	    padding: 10px;
	    font-size: 0.85em;
	    margin-bottom: 0;
	    display: block;
	}

	.subnav-wrapper a  {
	    text-decoration: none;
		color: #121212;
		font-size: 16px;

	}

	.subnav-wrapper {
    	width: 100%;
    	height: 100%;
    	position: fixed;
		top: 55px;
	    z-index: 9999;

	    width: 300px;

	    display: none;

	    -webkit-transition: margin .2s;
	         -o-transition: margin .2s;
	            transition: margin .2s;
	}

	.sub-navigation .current a,
	.subnav-wrapper .current a {
	    color: #3071a9;
	}

	.subnav-wrapper ol {
	    width: 100%;
	    margin: auto;
	    list-style: none;

	    padding-left: 0px;
	}

	a.mobile-back {
		position: absolute;
		top: 0;
		right: 0;
		width: 90px;
		height: 55px;
		background: #707172;
		display: block;
		line-height: 50px;
		font-size: 0.86em;
		text-align: center;
		display: block;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}

	a.mobile-back:hover {
		opacity: 1;
		text-decoration: none;
	}

	.basket-icon {
		position: absolute;
		top: 10px;
		right: 0;
		margin-top: 0;
	}

	.carousel {
		margin-bottom: 0;
		min-height: 0;
	}

	.carousel .wrap {
	    height: 100%;
	    margin: auto;

	    position: relative;
	    top: auto;
	    left: auto;
	    right: auto;
 	}

	.carousel .overlay {
		position: relative;
		width: 100%;
		margin: 0;
	}

	.carousel .overlay-left {
	    position: relative;
	    left: auto;
	}

	.carousel .overlay-right {
	    position: relative;
	    right: auto;
	}

	.carousel button {
		display: none;
	}

	.carousel .indicators {
	    position: relative;
	    bottom: -10px
	}

	.carousel .indicators li {
		background: #999;
	}

	.items img {
		width: auto;
		height: auto;
	}

	.comments img {
		width: auto;
		height: auto;
	}

	.comments li .meta,
	.comments li p  {
		width: 100%;
	}

	input[type='checkbox'], 
	input[type='radio'] {
		width: auto;
	}

}
