/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Mothership Site                                      */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Mothership
/*    http://mothership.ec
/*
/*
/*
/* ======================================================= */


@media screen and (max-width: 768px) {

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	blockquote,
	img,
	svg,
	object,
	iframe,
	embed,
	canvas,
	video,
	audio,
	form,
	input,
	select,
	textarea,
	ul,
	ol,
	dl {
		width: 100%;
	}

	/*
	 * Header
	 */

	.logo {
		margin: 20px auto;
		text-align: center;
		font-size: 0.8em;
	}

	/*
	 * Search
	 */

	.search form {
		float: left;
		width: 100%;
	}

	.search.form-inline .field {
	 	width: 100%;
	 }

	.search label {
		display: none;
	}

	/*
	 * Navigation
	 */

	.nav-open {
		display: block;
		height: 32px;
		width: 32px;
		display: inline-block;
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		top: 10px;
		left: 0;
	}

	.nav-close {
		display: block;
		height: 32px;
		width: 32px;
		display: inline-block;
		font-size: 2em;
		cursor: pointer;
		position: absolute;
		top: 12px;
		right: 5px;
		color: #333;
	}

	.shop-access {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 200px;
		background: #EEE;
		padding: 19px 15px 18px;
		border-bottom: 1px solid #333;
		z-index: 1000;
	}

	.shop-access a {
		font-size: 0.85em;
	}

	.nav-offcanvas {
		margin-left: -300px;
	}

	.nav-open i {
		font-size: 1em;
		color: #333;
		display: block;
	}

	.navigation {
		position: fixed;
		top: 105px;
		bottom: 0;
		left: 0;
		width: 100%;
		max-width: 200px;

		padding-top: 20px;
		background: #fff;
		z-index: 9999;
	}

	.navigation ol {
		padding: 0 10px;
		right: auto;
	}

	.navigation li {
		float: left;
		width: 100%;
		padding: 0;
	}

	.navigation a,
	.navigation a:hover {
		border: none;
		width: 100%;
		padding: 10px 20px;
		text-align: left;
	}

	.navigation .current > a,
	.navigation a.current {
	    width: 100%;
	    display: block;
	    position: relative;
	}

	.navigation a.current:after {
	    font-family: "FontAwesome";
	    font-size: 2em;
	    content: '';
	    color: #121212;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -20px;

	}

	.navigation a.current:hover {
	    border-bottom: none;
	}


	.navigation li,
	.subnav-wrapper li {
		padding: 0 0 20px;
	}

		/* Sub navigation */

	.subnav-wrapper,
	.sub-navigation {
	    position: absolute;
	    left: 0;
	    right: 0;

	    display: none;
	    float: left;

	    width: 100%;
    
	    padding: 10px 0;

	    background: #eee;
	}

	.sub-navigation ul {
	    margin-top: 100px;
	}

	.subnav-wrapper {
		overflow-y: auto;
		overflow-x: hidden;
	}

	::-webkit-scrollbar {
	    width: 0;
	}

	.subnav-wrapper li {
	    padding: 10px;
	    font-size: 0.85em;
	    margin-bottom: 0;
	    display: block;
	    text-align: left;
	}

	.subnav-wrapper a  {
	    text-decoration: none;
		color: #FFF;
		font-size: 16px;
		padding: 0 10px;
	}

	.subnav-wrapper {
    	width: 100%;
    	height: 100%;
    	position: fixed;
    	top:49px;
		padding-top: 10px;
	    background: #eee;
	    width: 200px;
		z-index: 99999;
	    display: none;
	    width: 200px;
	   	border: 0;
	}

	.subnav-wrapper ul {
	    padding: 0;
	    float: left;
	    width: 100%;
	}

	.subnav-wrapper ul li {
		padding: 0;
	}

	.subnav-wrapper li a {
		color: #333;
		padding: 10px 20px;
		display: block;
	}

	.subnav-wrapper ul li.shop-menu {
		margin-right: 0;
	}

	.subnav-wrapper li.cat {
		display: block;
	}

	.subnav-wrapper ul:first-of-type li {
		width: 100%;
	}

	.subnav-wrapper form,
	.subnav-wrapper .search form {
		margin: 15px 0;
	}

	.subnav-wrapper ul li.shop-menu .sub-navigation li {
		white-space: normal;
	}

	.nav-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 12px 30px;
		background: #4a5258;
		display: block;
		font-size: 0.86em;
		text-align: center;
		display: block;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}

	.nav-close:hover {
		background: ##4a5258;
	}

	.mobile-back {
		display: none;
		position: absolute;
		padding: 30px 10px;
		top: -112px;
		right: 0;
		cursor: pointer;
		width: 200px;
		background: #eee;
		float: none;
		z-index: 99999 !important;
		text-align: center;
	}

	.mobile-back:hover {
		border: none;
	    width: inherit;
	    padding: 30px 10px;
	    text-align: center;
	}

	.basket-icon {
		position: absolute;
		top: 10px;
		right: 0;
		margin-top: 0;
	}

	.carousel {
		margin-bottom: 0;
		min-height: 0;
	}

	.carousel .wrap {
	    height: 100%;
	    margin: auto;

	    position: relative;
	    top: auto;
	    left: auto;
	    right: auto;
 	}

	.carousel .overlay {
		position: relative;
		width: 100%;
		margin: 0;
	}

	.carousel .overlay-left {
	    position: relative;
	    left: auto;
	}

	.carousel .overlay-right {
	    position: relative;
	    right: auto;
	}

	.carousel button {
		display: none;
	}

	.carousel .indicators {
	    position: relative;
	    bottom: -10px
	}

	.carousel .indicators li {
		background: #999;
	}

	.items img {
		width: auto;
		height: auto;
	}

	.comments img {
		width: auto;
		height: auto;
	}

	.comments li .meta,
	.comments li p  {
		width: 100%;
	}

}
