{% extends 'Mothership:Site::templates/base' %}

{% block title %}Access denied | {{ app.cfg.app.name }}{% endblock %}

{% block content %}
	<main class="content error-page">
		<div class="col-12">
			<h1>Access denied</h1>
			<p>Unfortunately, you don't currently have access to this page; only certain users are allowed to see and access this content.</p>

			{% if not app.user %}
				<p>You may need to <a href="{{ url('ms.user.login') }}">log in</a> to access this page.</p>
			{% endif %}
		</div>
	</main>
{% endblock %}