{% extends 'Mothership:Site::templates/base' %}

{% block content %}
	<main class="content" id="content" role="main">
		{% set product = content.product.product.product %}
		<div class="row">
			{# Breadcrumb #}
			{{
				render(controller('Message:Mothership:CMS::Controller:Navigation:Breadcrumb#breadcrumb', {
				page: page,
				}))
			}}
			<div class="col-6">
				{# Product info #}
				{% block productinfo %}
					{% include 'Mothership:Site::module:product:product_info' %}
				{% endblock %}
			</div>
			<div class="col-6">
				{# Product gallery #}
				{% block gallery %}
					{{
						render(controller('Mothership:Site::Controller:Module:Gallery#productGallery', {
							product: product,
							gallery: content.gallery,
							options: content.product.option
						}))
					}}
				{% endblock %}
			</div>
		</div>
		<div class="row">
		{# Cross sell #}
		{{
			render(controller('Mothership:Site::Controller:Module:Shop#crossSell', {
				crossSell: content.cross_sell
			}))
		}}
	</main>
{% endblock %}